# Exclude windows config files, shortcuts and temporary files
*.db
*.ini
*.lnk
*.url
~*
$RECYCLE.BIN/

# Exclude test and tmp files
*[Tt]est*
*[Tt]emp*
*[Tt]mp*

# Ignore vim files
*~
*.swp

# Backups
Backup*/

# Visual Studio Workspace folder
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
